body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(223,148,233,0.6951155462184874) 100%);
}
h1 {
  text-align: center;
}
h2 {
  text-align: left;
}
img {
  vertical-align: middle;
}
